<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
    <h1><%= title %>, let your mind free!</h1>
    <div id="login">
    <h2>Please Login or create an account with Google!</h2>
    </div>
    <div id="google">
    <a href="/auth/google" class="button">Google Account&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
    </div>
 
